
*{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
/*NavBar*/
.nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 250px 0px;
    padding: 0px 0px 0px;
    border-bottom: solid black 1px;
}
.nav li{
    padding: 30px 30px 30px;
    cursor: pointer;
}
.links{
    display: flex;
    list-style: none;
}
.nav h1{
    font-size: 20px;
    align-self: center;
}
.nav h1 span{
    color:rgb(10, 62, 167);
}

/*homePage*/
.home-container{
    display: flex;
    flex:auto;
    margin: 150px 250px 150px;
    gap: 25px;
}
.home-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 33px;
}
.home-text p{
    font-size: 17px;
}
.home-text h1{
    font-size: 46px;
}
.home-container img{
    max-width: 700px;
    min-width: 0px;
}
.homeBtn{
    background-color: rgb(10, 62, 167);
    color: white;
    max-width: 130px;
    border: solid white;
    border-radius: 4px;
    padding: 7px;
}
/*AboutPage*/
.about-container{
    display: flex;
    margin: 50px 250px 0px;
}
.about-text{
    display: flex;
    flex-direction: column;
}
/*SkillsPage*/
.skill-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    margin: 100px 250px 100px;
}
.skill-page-container h2{
    font-size: 30px;
}

.skill-item-container{
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
}
.skill-item{
    display: flex;
    flex: 1;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.skill-item h3{
    color: rgb(72, 137, 236);
}
.skill-item p{
    text-wrap: wrap;
}

/*footer*/
footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px 30px;
}
footer p{
    color: white;
}
.footer-links{
    display: flex;
    color: white;
    list-style: none;
    gap: 14px
}
.footer-links li a{
    text-decoration: none;
    color: white;
    border: solid white;
    padding: 4px;
    border-radius: 4px;
}