:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
}
*{
  margin: 0;
}

header{
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  margin: 0px 100px 0px;
  border-bottom: solid rgb(109, 109, 109);

}

header h1{
  /*background: linear-gradient(90deg, rgb(253, 253, 253) 0%, rgb(87, 87, 87) 47%, rgb(8, 8, 8) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  
  align-self: center;
}
nav{
  display: flex;
  justify-content: center;
}
.links{
  
  display: flex;
  margin: 0px;
  padding: 0px;
}
.navlink{
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 30px 25px 30px;
  cursor: pointer;
  transition: 500ms;
}
.navlink:hover{
  background-color:rgba(77, 77, 77, 0.575);
}

.aboutBg{
  background-color: rgb(44, 44, 44);
  color: rgb(212, 212, 212);
}
.about{
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  padding: 8% 150px 13%;
}
.aboutText{
  display: flex;
  flex-direction: column;
  gap: 17px;
  max-width: 400px;
}
.aboutText p{
  text-align: justify;
}
.aboutText a{
  color: rgb(212, 212, 212);
  text-decoration: none;
  align-self: center;
  background-color: rgb(52, 116, 211);
  padding: 2px 18px 2px;
}

.about img{
  max-height: 200px;
}

.skillBg{
  padding-top:3%;
  background-color: rgb(35, 35, 35);
  color: rgb(212, 212, 212);
}
.skillContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0px 0px 0px;
  padding: 20px 350px 150px;
}
.skillCard{
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  margin: 20px;
  width: 230px;
  height: 270px;
  background: rgb(59, 59, 59);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border-radius: 10px;
  transition: 300ms;
}
.skillCard h3{
  font-size: larger;
  color: rgb(242, 242, 224);
}
.skillCard ul{
  font-weight: bold;
}
.skillCard:hover{
  transition: 300ms;
  box-shadow: #7b7b7b 1px 1px 8px;
  width: 250px;
  height: 290px;
  margin: 10px;
}

.skillImage{
  border-radius: 50%;
  padding: 10px;
  width: 120px;
  height: 120px;
}
.skillImage:hover{
  transform: rotate(360deg);
  transition: 1.2s;
}
.skillCard ul{
  padding-left: 0px;
}
.skillCard ul li{
  list-style:none;
}


.projectSection{
  background-color: rgb(240, 240, 240);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 40px;
}
.projectCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}
.projectInnerContainer{
  display: flex;
  justify-content: center;
}
.leftSideProjectCard{
  transition: 500ms;
}
.leftSideProjectCardHidden{
  margin-left: 27%;
  transition: 400ms;
  transition-delay: 400ms;
}
.rightSideProjectCardHidden{
  transform: translate(0%, 200%);
  max-height: 150px;
  max-width: 400px;
  opacity: 0;
  transition: 400ms;
}
.rightSideProjectCard{
  margin-left: 15px;
  max-height: 150px;
  max-width: 400px;
  transform: translate(0%, 120%);
  opacity: 1;
  transition: 400ms;
  transition-delay: 400ms;
}
.projectImage{
  max-width: inherit;
  max-height: inherit;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.projectImage img{
  max-width: 700px;
}
.hiddenButton{
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: 400ms;
  border: none;
  background-color: rgb(84, 117, 228);
  color: white;
  padding: 10px;
  border-radius: 15px;
}
.hiddenButton span{
  position:relative;
}
.hiddenButton span:after{
  content: ' \00bb';
  opacity: 0;
}

.projectImage:hover .hiddenButton{
  opacity: 1;
  transition: 400ms;
}
.hiddenButton:hover{
  opacity: 1;
  padding-right: 17px;
}
.hiddenButton:hover span:after{
  opacity: 1;
}
.technologyList li{
  list-style: none;
  font-weight: bold;
}

footer{
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: aliceblue;
  padding: 50px 30px 50px;
}
.footerLinks{
  display: flex;
  gap: 10px;
}
.footerImage{
  height: 48px;
  width: 48px;
}
