:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  margin: 0px;
  padding: 0px;
}
/*Header*/
header{
  display: flex;
  justify-content: space-between;
  margin: 0px 250px 150px;
  padding: 0px 0px 0px;
  border-bottom: solid black 1px;
  
}

header h1{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(55,9,79,1) 47%, rgba(142,0,214,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav{
  display: flex;
  justify-content: center;
}
nav ul{
  display: flex;

  margin: 0px;
  padding: 0px;
}
header ul li{
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 20px 20px 20px;
  cursor: pointer;
  transition: 500ms;
}
header ul li:hover{
  background-color: #dddddd;
}

/*About*/
.about{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 250px 50px;
  gap: 33px;
  padding: 40px 40px 250px;
  border-radius: 15px;
  
}
.bgContainer{
  
}
.aboutText{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
}
.aboutText p{
  text-align: justify;
}
.about img{
  max-width: 600px;
  min-width: 200px;
  color: black;
}

/*Skills*/
.skillContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0px 250px 150px;
}
.skillCard{
  border: 1px solid rgb(230, 230, 230);
  border-radius: 10px;
  width: 250px;
  text-align: center;
  padding: 20px;
  margin: 20px;

}
.skillCard:hover{
  box-shadow: 5px 5px 5px hsla(0, 0%, 27%, 0.301);
  background-color: #f8f8f8;
  transition: 400ms;
}
.skillCard img{
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.skillCard img:hover{
  transform: rotate(360deg);
  transition: 1.2s;
}
.skillCard ul{
  padding-left: 0px;
}
.skillCard ul li{
  list-style:none;
  font-weight: bold;
}

/*Project Section*/
.projectSection{
  text-align: center;
}
.projectCard{
  display: flex;
  justify-content: center;
}

.leftSideProjectCard{
  transition: 500ms;
}
.leftSideProjectCardHidden{
  margin-left: 26%;
  transition: 400ms;
  transition-delay: 400ms;
}
.rightSideProjectCardHidden{
  transform: translate(0%, 200%);
  max-height: 150px;
  opacity: 0;
  transition: 400ms;
  
}
.rightSideProjectCard{
  margin-left: 15px;
  max-height: 150px;
  transform: translate(0%, 120%);
  opacity: 1;
  transition: 400ms;
  transition-delay: 400ms;
}
.projectImage{
  max-width: inherit;
  max-height: inherit;
  position: relative;
  overflow: hidden;
  border-radius: 3%;
  z-index: 0;
}
.hiddenButton{
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: 400ms;
  border: none;
  background-color: rgb(84, 117, 228);
  color: white;
  padding: 10px;
  border-radius: 15px;
}
.hiddenButton span{
  position:relative;
}
.hiddenButton span:after{
  content: ' \00bb';
  opacity: 0;
}

.projectImage:hover .hiddenButton{
  opacity: 1;
  transition: 400ms;
}
.hiddenButton:hover{
  opacity: 1;
  padding-right: 17px;
}
.hiddenButton:hover span:after{
  opacity: 1;
}
.technologyList li{
  list-style: none;
  font-weight: bold;
}

footer{
  display: inline-block;
  width: 100%;
  background-color: black;
  color: aliceblue;
  margin: 100px 0px 0px;
  padding: 50px 0px 50px;
}

